html{
    position: relative;
    min-height: 100%;
}

body{
  background: salmon;
  background-image: url("../images/bg.png");
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;   
  height: 100%;
}


.gifLarge{
  width:100%;
}
.jumbotron{
  padding-top: 15px;
  padding-bottom: 15px;
}

.jumbotron,.card-header,.img-thumbnail{
  background: rgb(173,216,230,0.4);
}
.jumbo .col-md-12{
  margin: 0;
  padding: 0;
}
button{
  margin-right:10px;
  margin-bottom:10px;
}

.search{
  margin-bottom:20px;
}

.container{
  background-color:rgb(240,255,240,0.9);
  margin-bottom:30px;
}

.modal-content{
  background: honeydew;
}

.movie img{
   max-height: 130px;
}

.movie{
  margin-right:9px;
  display: inline-block;
  margin-bottom:10px;
}


.modal-dialog{
  max-width:550px;
}

.row{
  padding:0;
  text-align: center;
}

.caption,span{
  margin-top:5px;
  color:darkslategray;
  font-weight:bold;
}

.caption span{
  color:black;
}

.color-change{
  background: blueviolet;
}

.btn.btn-success:focus,.btn.btn.btn-success:hover{
  background: blueviolet;
}

.btn.btn-default{
  background: rgb(173,216,230);
}
.btn.btn-default:hover{
  background: cadetblue;
}

.jumbotron h1{
  font-family: 'Bowlby One SC', cursive;
  color: blueviolet;
  -webkit-text-stroke-color:black;
  -webkit-text-stroke-width: 1px; 
}

#title{
  font-family: 'Bowlby One SC', cursive;
}

#title, .alert-info{
  color: blueviolet;
  font-size: 20px;
}

.movie-info img{
  width:100%;
  height:auto;
}

#poster img{
  border:2px solid black;
}
